.top-bar-row {
    /*height: 50px;*/
    width: 100%;
    padding: 10px 10px 5px 10px
}

.top-bar-button-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 15px
}

.main-container {
    height: 100vh;
}
